.header_index{
	background: #ff4f57;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px ;
    line-height: 25px;
}
body {
	margin :0px;
	font-family: roboto,sans-serif;
	min-width: fit-content;

 }
 .header_table{
 	margin-left: auto;
    margin-right: auto;
    width: 100%;
 }

 .header_table span{
 	margin-right: 1%;
 }
 .menu_classic div {
    display: inline-block;
		color: #656565;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
		line-height: 25px;
    font-size: 15px;
}
.menu_classic {
  text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_classic a{
	text-decoration: none;
	color: #656565;
	font-size: 18px;
}
a.current:link, a.current:visited {
  color: white;
  background-color: blue;
}
.pagina_activa{
color: green;
}
.menu_classic  span .active {
  color:#ff4f57;
}
.logo {
  top: 16px;
}

.logo img {
	width: 175px;
}
li {
	display: inline;
	  margin-right: 2%;
}
.servicios{
	min-height: 647px;
	text-align: center;
	background-image: url("wallpaper/wallpaper1.png");
	 background-position-y: 56%;
}
.servicios h3{
	font-size: 35px;
    line-height: 42px;
    font-weight: 700;
		    font-family: 'Montserrat',sans-serif;
				letter-spacing: 1px;

}
.servicios .container{
	text-align: center;
	display: inline-block;
	padding-top: 69px;
}
.subh3{
	font-size: 22px !important;
font-weight: 700 !important;
text-transform: uppercase;
padding: 10px 0;
letter-spacing: 1px !important;
}

.servicios .container div{
	display: inline-block;
	    vertical-align: top;
}
.fila_servicios{
	border: 1px solid;
	border-color: #ff4f57;
	padding: 20px 15px;
	height: 100%;

}

.fila_servicios:hover{
	 transition: all 0.2s linear;
	border: none;
	background-color: white;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.tabla_servicios .column{
	width: 350px;
vertical-align: top;
padding-left: 15px;
    padding-right: 15px;
		height: 239px;
}

.icono{
	display: block !important;
    height: 0px !important;
    position: relative !important;
    top: -53px !important;
}
.tabla_servicios{
	    margin-top: 84px;
}
.fila1{
	display: flex !important;
}
@media (max-width: 782px) {
  .fila1 {
    display: block !important;
  }
	.servicios .container div{
		display: block;
	}
	.tabla_servicios .column{
		height: 100%;
		width: 70%;
		margin-left: auto;
    margin-right: auto;
		margin-bottom: 85px;
	}
}


.boton_servicios{
	padding: 10px 16px;
text-transform: uppercase;
    background: #ff4f57;
		color: #fff;
    border: 1px solid transparent;
		display: inline-block;
    font-weight: 600;

}

.instalaciones{
	text-align: center;
display: inline-block;
}
.instalaciones div {
    display: inline-block;
		width: 50%;
}
.contenedor_bloques{
	    /*width: 70%;*/
			display: flex !important;
    margin-left: auto;
    margin-right: auto;
}
.contenedor_bloques .columna1{
	/*margin-right: 21%;*/
text-align: right;
}
.contenedor_bloques .columna1 p, .columna1 h4{
	text-align: left;
	margin-right: 21%;
}
.contenedor_bloques .columna2{
	text-align: left;
}
